@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kingthings';
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/kingthings_trypewriter/Kingthings-trypewriter-2.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "kingthings";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blinkAnimation {
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinkAnimationBorder {
  animation-name: blinkBorder;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blinkBorder {
  50% {
    border: 1px solid rgba(239, 68, 68)
  }
}